  /* general settings (genel ayarları) */ 

  @font-face{
    font-family:'Raleway';
    src: url('../fonts/Raleway-Light.ttf');
  }

  body{
      background: white;
      color:rgb(0, 0, 0);  /* yazı rengi*/
      font: 14px / 28px;
      font-family: 'Raleway', arial;
  }

  h1{
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }


  /* grid settings (ızgara ayarları) */ 

  .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
  }


  





  /* home settings (ana sayfa ayarları) */ 

  header .logo{
    margin-right: auto;      /*logo tasarımı*/
  }

  header .logo{
    display: block;
    padding:27px;
    color:rgb(255, 0, 0);
  }

  .menu li{
    float: left;      /*menü tasarımı*/
  }

  .menu li a{
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color:rgb(255, 0, 0);
    transition: all .5s ease;
  }

  .menu li:hover a{
    background:rgb(255, 0, 0);
    color: white
  }

  #mainSlider{    /*başlığın altında giriş fotografı*/
    height: 500px;
    background: url('../img/mainHome.jpg') center center no-repeat;
    background-size: cover;
  }

.slider{
  width: 100%;
}

#mainCaption{
  height: 500px;
  background: rgba(0,0,0 .5);
}


.caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:black;
}